/node_modules
/public/hot
#/public/data
#/public/fonts
#/public/images
/public/storage/app/public
/public/storage/debugbar
/public/storage/framework
/public/storage/logs
/public/storage/tmp
#/public/js
#/public/css
#/public/vendors
/public/files/properties
/public/files/avatars
/public/files/realstates
/public/files/comprobantes
/public/files/.DS_Store
/public/.DS_Store
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
app/.DS_Store
database/.DS_Store
public/.DS_Store
public/files/.DS_Store
resources/.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid